@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.attribution {
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  position: relative;
  background: #f5f3f7;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body::before, body::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 87.5%;
  width: 35%;
}

body::before {
  top: 0;
  left: -7.5%;
  background: linear-gradient(#e942ff, #8838ff 70%);
  border-bottom-left-radius: 20rem;
  border-bottom-right-radius: 20rem;
}

body::after {
  bottom: 0;
  right: -12.5%;
  background: rgba(216, 158, 255, 0.125);
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
}

body main {
  width: 70%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main .section {
  width: 50%;
  padding: 1rem;
}

body main .section h1 {
  padding-bottom: 1.25rem;
}

body main .section p {
  color: #a39daa;
  line-height: 1.5;
  font-size: 0.8rem;
}

body main .section.phone-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

body main .section.phone-area .phone {
  height: 25rem;
  width: 13rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
  position: relative;
  background: white;
}

body main .section.phone-area .phone::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 1rem;
  width: 50%;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  background: inherit;
}

body main .section.phone-area .phone .phone-screen {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: #f5f3f7;
}

body main .section.phone-area .phone .phone-screen .head {
  height: 16%;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.65rem;
  padding-top: 1.75rem;
  box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
  background: linear-gradient(to right, #8838ff, #e942ff);
}

body main .section.phone-area .phone .phone-screen .head .profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}

body main .section.phone-area .phone .phone-screen .head .profile img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  border: thin solid white;
}

body main .section.phone-area .phone .phone-screen .head .profile .profile-info h3 {
  font-size: 0.7rem;
  color: white;
  padding-bottom: 0.125rem;
}

body main .section.phone-area .phone .phone-screen .head .profile .profile-info p {
  font-size: 0.4rem;
  color: #d89eff;
}

body main .section.phone-area .phone .phone-screen .body {
  width: 100%;
  padding: 0.5rem 0.35rem;
}

body main .section.phone-area .phone .phone-screen .body .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

body main .section.phone-area .phone .phone-screen .body .text .received,
body main .section.phone-area .phone .phone-screen .body .text .sent,
body main .section.phone-area .phone .phone-screen .body .text .option {
  font-size: 0.4rem;
  max-width: 65%;
  border-radius: 0.5rem;
  padding: 0.35rem;
  line-height: 1.3;
}

body main .section.phone-area .phone .phone-screen .body .text .received {
  background: rgba(216, 158, 255, 0.35);
  color: #9241c8;
  border-bottom-left-radius: 0;
}

body main .section.phone-area .phone .phone-screen .body .text .sent {
  align-self: flex-end;
  background: white;
  color: #6e5d7e;
  border-bottom-right-radius: 0;
}

body main .section.phone-area .phone .phone-screen .body .text .sent-imgs {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
  max-width: 70%;
  padding-top: 0.25rem;
}

body main .section.phone-area .phone .phone-screen .body .text .sent-imgs img {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 0.25rem;
}

body main .section.phone-area .phone .phone-screen .body .text .option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  border-bottom-left-radius: 0;
  background: linear-gradient(to left, #8838ff, #e942ff);
}

body main .section.phone-area .phone .phone-screen .body .text .option .checkbox {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  position: relative;
  border: 0.1rem solid #e570ff;
}

body main .section.phone-area .phone .phone-screen .body .text .option .dur {
  width: calc(100% - 2.5rem);
  color: #c6cacd;
}

body main .section.phone-area .phone .phone-screen .body .text .option .price {
  color: white;
  font-size: 0.625rem;
}

body main .section.phone-area .phone .phone-screen .body .send {
  width: 100%;
  height: 1.5rem;
  border-radius: 1.5rem;
  position: relative;
  background: white;
}

body main .section.phone-area .phone .phone-screen .body .send input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0 1.25rem;
  font-size: 0.5rem;
}

body main .section.phone-area .phone .phone-screen .body .send input::placeholder {
  color: #c6cacd;
}

body main .section.phone-area .phone .phone-screen .body .send .btn {
  position: absolute;
  right: 0.125rem;
  top: calc((100% - 1.125rem) / 2);
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  background: #3e2753;
  display: grid;
  place-items: center;
}

@media (max-width: 640px) {
  body {
    padding: 3rem 0;
  }
  body::before, body::after {
    height: 50%;
    width: 50%;
  }
  body::before {
    left: 0%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20rem;
  }
  body::after {
    top: 50%;
    right: 0%;
    border-top-left-radius: 20rem;
    border-top-right-radius: 0;
  }
  body main {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
  body main .section {
    width: 100%;
    text-align: center;
  }
}
